{% extends '/base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="show-article-container p-3 mt-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <img class="img-fluid" src="/images/trainingfactory.png">
                            <div class="show-article-title-container d-inline-block pl-3 align-middle"><p style="text-align: right; margin-left: 720px; color: red;">Welkom H. Puf<br> - klant - <br> <button type="button" class="btn btn-outline-secondary">uitloggen</button></p>
                                <span class="show-article-title"><h1 style="color: red; font-weight: bold; font-size: 60px;">Training Centrum</span>
                                <br>
                                <br>
                                <span class="align-left article-details"> Den Haag </span></h1>
                            </div>

                            <hr>
                        </div>
                    </div>


                    <nav class="navbar navbar-expand-lg navbar-bg mb-5">
                        <a style="margin-left: 75px; color: red;" href="/home">Home</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a style="color: red;" class="nav-link" href="/inschrijvingen">Inschrijven op les</a>
                                </li>
                                <li class="nav-item">
                                    <a style="margin-left: 15px; color: red;" class="navbar-brand space-brand" href="/registratie">Lid Worden</a>
                                </li>
                                <li class="nav-item">
                                    <a style="color: red;" class="nav-link" href="/contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="article-border">
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="img-fluid" src="\images/stootzak.jpg"></div>
                            <div class="col-sm-4">
                                <img class="img-fluid" src="\images/kickbox.jpg"></div>
                            <div class="col-sm-4">
                                <img class="img-fluid" src="\images/conormcgregor.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1>Launch a new Article! ?</h1>
        {{ form_start(trainingForm) }}
        {{ form_widget(trainingForm) }}
        <button type="submit" class="btn btn-primary">Create!</button>
        {{ form_end(trainingForm) }}
    </div>






{% endblock %}
